*{
    margin: 5px;
    padding: 5px;
    font-family: 'Charm', cursive;
}

@media (max-width: 576px){
    .cajaComidas{
        width: 94%;
    }
    .navbar{
        font-size: 50px;
        display: block;
        align-content: end;
        margin:auto;
    }
    .navbar li{
        display: block;
    }
    .pagMenu{
        width: 96%;
    }
    .ubicacion{
        width: 96%;
    }
}

@media (min-width: 576px){
    .pagMenu{
        width: 96%;
    }
    .ubicacion{
        width: 96%;
    }
    .navbar{
        font-size: 50px;
        display: inline;
        align-content: end;
        margin:auto;
    }
    .navbar li{
        display: inline;
    }
}


@media (min-width: 768px ){
    .cajaComidas{
        width: 47%;
    }
    .pagMenu{
        width: 46%;
    }
    .ubicacion{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
        width: 96%;
    }
}


@media (min-width: 1200px){
    .cajaComidas{
        width: 31%;
    }
    .ubicacion{
        width: 46%;
    }
}

h1{
    font-size: 40px;
}

h3{
    font-size: 20px;
}

p{
    font-size: 15px;
}

body, header, main, footer{
/*    border: 3px blue solid;*/
    margin: 0px;
    padding: 3px;
    background-color: black;
}

header{
    background-color: rgba(86, 21, 21, 0.4);
    display: flex;
    flex-direction: row;
    border: 3px rgba(167, 166, 163, 0.452) solid;
    border-radius: 15px;
}

#logo{
    height: 70px;
    width: 70px;
    display: inline-block;
}

.cajaLogo{
    display: inline;
    margin: 3px;
    padding: 3px;
}

.navbar{
    margin:auto;
    margin-right: 10px;
    opacity: 1;
}

.navbar a{
    font-family: 'Tangerine', cursive;
    text-decoration: none;
    color: antiquewhite;
    font-weight: bold;
}

main{
    color: antiquewhite;
    align-content: center;
    width: 100%;
}

#seccion1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    background-image: url(https://assets.nicepagecdn.com/d2cc3eaa/3955079/images/jhjh54-min.jpg);
    min-height: 600px;
    background-position: center;
    font-size: 50px;
    color: antiquewhite;
    animation-duration: 1.5s;
}

#seccion1 h2{
    font-family: 'Tangerine', cursive;
    background-color: black;
    opacity: 0.7;
    font-size: 100px;
    margin: auto;
    text-align: center;
}

#seccionMenu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    color: black;
    background-image: url(https://img.freepik.com/foto-gratis/harina-suelta-encuentra-fondo-negro_1304-3388.jpg?w=900&t=st=1684719773~exp=1684720373~hmac=6461cf8fe92b09189daa714111c4d6202861b5124181f4cd3ba8f8c4256eef1d);
    background-repeat:no-repeat;
    background-size: 125%;
}

.imgComidas{
    height: auto;
    width: 90%;
    margin: auto;
}

.cajaComidas{
    margin: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    height: auto;
    border-radius: 5px;
}

footer{
    font-size: 40px;
    display: flex;
    flex-direction: row;
    align-content: center;
    background-color: rgba(86, 21, 21, 0.4);
    border: 3px rgba(167, 166, 163, 0.452) solid;
    border-radius: 15px;
}

footer>ul{
    margin: auto;
    margin-left: 10px;
}

footer li{
    display: inline;
}

footer a{
    font-family: 'Tangerine', cursive;
    text-decoration: none;
    color: antiquewhite;
    font-weight: bold;
    display: inline;
}



/* ACA EMPIEZA CSS MENU */


#seccion3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    margin: 0px;
    background-image: url(https://assets.nicepagecdn.com/d2cc3eaa/3955079/images/jhjhjh-min.jpg);
    background-position: center;
    color: antiquewhite;
}

#seccion4{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    margin: 0px;
    background-image: url(https://res.cloudinary.com/norgesgruppen/images/c_scale,dpr_auto,f_auto,q_auto:eco,w_1600/xlh7ehmaozm5kzyob4yo/saftige-spareribs-kokt-i-coca-cola);   
    background-position: center;
    color: antiquewhite;
}

.pagMenu{
    background-color: rgba(0, 0, 0, 0.7);
    border: 3px rgba(167, 166, 163, 0.452) solid;
    border-radius: 15px;
    margin: 5px;
}

/* ACA ARRANCA CSS SUCURSALES */






/* ACA ARRANCA CSS DE MAURO */


.mainNosotros{
    background-image: url(https://static.vecteezy.com/system/resources/previews/001/948/406/original/wood-table-top-for-display-with-blurred-restaurant-background-free-photo.jpg);

}


.casillas-comentarios{
    background-color: rgba(86, 21, 21, 0.8);
    border: 3px rgba(167, 166, 163, 0.452) solid;
    border-radius: 15px;
    color: antiquewhite;
    border-radius: 15px;
    border-style: double;
    padding-bottom: 30px;
    padding-top: 5px;
    padding-left: 20px;
    
}
/*
@media (max-width: 600px) {
    .casillas-comentarios{ width: 550px;
        height: 50px;
        padding-bottom: 90px;
    }
}
@media (min-width: 600px) {
            .casillas-comentarios{ width: 550px;
                height: 50px;
                padding-bottom: 90px;
        

    }
}
@media (min-width: 760px){
         .casillas-comentarios{width: 1100px;

}
}
#crear-comentario{
    background-color: black;
    border-radius: 15px;
    border-style: double;
    color: aliceblue;
    padding-bottom: 30px;
    padding-top: 15px;
    padding-left: 20px;
}

@media (max-width: 600px) {
    #crear-comentario{ width: 550px;
        height: 50px;
    }
}
@media (min-width: 760px){
    #crear-comentario{width: 1100px;
        

}
}


/*body{
    background-image: url(https://static.vecteezy.com/system/resources/previews/001/948/406/original/wood-table-top-for-display-with-blurred-restaurant-background-free-photo.jpg);
    background-repeat:no-repeat;
    background-size: 250%;
    color: aliceblue;
    border-style: double;   
    background-color: black;
}
 
   @media (max-width: 600px) {
   body { background-repeat: repeat;
          padding: 50px;
          width: 630px;
}
   
      
   }

   @media (min-width: 600px) {
    body { background-repeat: repeat;
           padding: 50px;
           width: 735px;
        }
    }
    @media (min-width: 760px) {
        body { background-repeat:repeat;
               padding: 50px;
               width: 1140px;
               
            }

   }
*/  
.conteiner-1{
    background-color: rgb(48, 47, 47);
    margin: 5%;
    display: flex;
    justify-content: center;
    color: aliceblue;
    border-radius: 10%; 
}

.punto{
    display: inline;
    background-color: aliceblue;
}

.Carrusel{
    width: 2000px;
    height: auto;
    margin: 10px auto 10px;

    animation: slide 25s infinite ease-in-out;
}

.Carrusel ul{
    display:flex;
    padding: 0px;
    width: 400px;
}

.Carrusel li{
    list-style: none;
    width: 300px;
    margin-left: 400px;
}
.Carrusel img{
    width: 600px;
    height: 500px;
    border:15px;
    border-style: groove;
    border-color:rgb(33, 28, 28);
}
/*
@keyframes slide{
    0%{margin-left: -50%;}
    35%{margin-left: -50%;}

    45%{margin-left: -150%;}
    65%{margin-left: -150%;}
    
    70%{margin-left: -250%;}
    100%{margin-left: -250%;}
}

@media (max-width: 600px) {
    .Carrusel { width: 500px;
        
    }
    .Carrusel img{
        width: 300px;
        height: auto;
    }
}
@media(min-width: 600px) {
    .Carrusel { width: 300px;
        
    }
    .Carrusel img{
        width: 300px;
        height: auto;
        }
 

}

@media (min-width: 760px){
    .Carrusel { width: 1000px;
        
    }
    .Carrusel img{
        width: 400px;
        height: auto;
        }
    
    

}



/*ACA ARRANCA EL CSS DE MARIA EMILIA*/

/*Estilos de las áreas*/

.form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    background-color:black;
    height: auto;
    width: 98,2%;
    color: white;
    font-weight: bold;
    background-color: rgba(86, 21, 21, 0.4);
    border: 3px rgba(167, 166, 163, 0.452) solid;
    border-radius: 15px;
    margin-bottom: 3%;
    margin-left: 0,9%;
    margin-right: 0,9%;

}   

.form>form{
    width: 50vw;
}

.form>form>div{
    display: flex;
    justify-content: space-between;
}

.datos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width:98,2%;
    margin-bottom: 3%;
    margin-left: 0,9%;
    margin-right: 0,9%;
    padding-bottom: 100px;
    background-color: rgba(86, 21, 21, 0.4);
    border: 3px rgba(167, 166, 163, 0.452) solid;
    border-radius: 15px;
    font-size: 100%;
    color: white;
    text-align: center;

}


/*Estilos de texto, títulos, etc*/
.titulo{
    font-size: 60px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.subtitulo{
    font-size: 40px;
    text-align: center;
    margin: 30px;
}

.texto{
    font-size: 30px;
    text-align: center;
}

.button{
    display: flex;
    font-family: 'Charm', cursive;
    font-size: 18px;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 8px;
}

.casillas{
    height: 50px;
    width: 35vw;
    font-size: 25px;
    text-align: start;
    border-radius: 7px;
}

/*media queries */
@media (max-width:600px){
    /*Celular*/    
    .casillas{
        width: 50%;
    }
}

@media (min-width:600px){
    /*Tablet*/    
    .casillas{
        width: 60%;
    }
    
}

@media (min-width:720px) {
    /*Computadora*/

    .casillas{
        width: 50%;
    }

}


/* ACA ARRANCA CSS SUCURSALES */

.mainSucursales h1{
    margin: 30px;
    text-align: center;
    font-size: 60px;
}

.mainSucursales section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    background-image: url(https://totale.es/wp-content/uploads/2022/02/donde-comer-pizza-en-madrid.jpg);
}

.ubicacion{
    background-color: rgba(0, 0, 0, 0.85);
    border: 3px rgba(167, 166, 163, 0.452) solid;
    border-radius: 15px;
    margin: 5px;
    text-align: center;
    vertical-align: auto;
}

.ubicacion>div{
    margin: auto;
}

.ubicacion h3{
    margin: 5px;
}
.ubicacion p{
    margin: 5px;
}

.map{
    height: 250px;
    width: 250px;
    border-radius: 15px;
}