*{
    margin: 5px;
    padding: 5px;
    font-family: 'Charm', cursive;
}


/* Media queries */


@media (max-width: 576px){
    header{
        display: flex;
        flex-direction: column;
    }
    .cajaComidas{
        width: 94%;
    }
    #logo{
        height: 60px;
        width: 60px;
    }
    .navbar{
        font-size: 40px;
        display: block;
        align-content: center;
        margin:auto;
    }
    .navbar li{
        display: block;
    }
    .pagMenu{
        width: 96%;
    }
    .ubicacion{
        width: 96%;
    }
    .form>form>div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 96%;
    }
    .casillas{
        width: 95%;
    }
    footer li{
        display: block;
    }
    footer{
        font-size: 35px;
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 576px){
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .pagMenu{
        width: 96%;
    }
    .ubicacion{
        width: 96%;
    }
    #logo{
        height: 6vw;
        width: 6vw;
    }
    .navbar{
        font-size: 4vw;
        display: flex;
        flex-direction: row;
        justify-content: end;
    }
    .navbar li{
        display: inline;
    }
    .form>form>div{
        width: 85%;
    }
    .casillas{
        width: 75%;
    }
    footer li{
        display: inline;
    }
    footer{
        font-size: 3vw;
        display: flex;
        flex-direction: row;
    }
}


@media (min-width: 768px ){
    .cajaComidas{
        width: 47%;
    }
    .pagMenu{
        width: 46%;
    }
    .ubicacion{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
        width: 96%;
    }
    .form>form>div{
        width: 70%;
    }
}


@media (min-width: 1200px){
    .navbar{
        font-size: 50px;
    }
    .cajaComidas{
        width: 31%;
    }
    .ubicacion{
        width: 46%;
    }
    .form>form>div{
        width: 50%;
    }
    footer{
        font-size: 4vw;
    }
}

body, header, main, footer{
/*    border: 3px blue solid;*/
    margin: 0px;
    padding: 3px;
    background-color: black;
}



header{
    background-color: rgba(86, 21, 21, 0.4);
    border: 3px rgba(167, 166, 163, 0.452) solid;
    border-radius: 15px;
}

#logo{
    display: inline-block;
}

.cajaLogo{
    display: inline;
    margin: auto;
}

.navbar{
    margin:auto;
    opacity: 1;
}

.navbar a{
    font-family: 'Tangerine', cursive;
    text-decoration: none;
    color: antiquewhite;
    font-weight: bold;
}

main{
    color: antiquewhite;
    align-content: center;
    width: 100%;
}

#seccion1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    background-image: url(https://assets.nicepagecdn.com/d2cc3eaa/3955079/images/jhjh54-min.jpg);
    min-height: 50vw;
    background-size: 150%;
    background-position: center;
    color: antiquewhite;
    animation-duration: 1s;
}

#seccion1 h2{
    font-family: 'Tangerine', cursive;
    background-color: black;
    opacity: 0.7;
    font-size: 8vw;
    margin: auto;
    text-align: center;
}

#seccionMenu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    color: black;
    background-image: url(https://img.freepik.com/foto-gratis/harina-suelta-encuentra-fondo-negro_1304-3388.jpg?w=900&t=st=1684719773~exp=1684720373~hmac=6461cf8fe92b09189daa714111c4d6202861b5124181f4cd3ba8f8c4256eef1d);
    background-repeat:no-repeat;
    background-size: 125%;
}

.imgComidas{
    height: auto;
    width: 90%;
    margin: auto;
}

.cajaComidas{
    margin: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    height: auto;
    border-radius: 5px;
}

.cajaComidas h2{
    font-size: 25px;
}

.cajaComidas p{
    font-size: 18px;
}

footer{
    justify-content: space-between;
    align-content: center;
    background-color: rgba(86, 21, 21, 0.4);
    border: 3px rgba(167, 166, 163, 0.452) solid;
    border-radius: 15px;
}

footer>ul{
    margin: auto;
}

footer a{
    font-family: 'Tangerine', cursive;
    text-decoration: none;
    color: antiquewhite;
    font-weight: bold;
    display: inline;
}



/* ACA EMPIEZA CSS MENU */


#seccion3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    margin: 0px;
    background-image: url(https://assets.nicepagecdn.com/d2cc3eaa/3955079/images/jhjhjh-min.jpg);
    background-position: center;
    color: antiquewhite;
}

#seccion4{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    margin: 0px;
    background-image: url(https://res.cloudinary.com/norgesgruppen/images/c_scale,dpr_auto,f_auto,q_auto:eco,w_1600/xlh7ehmaozm5kzyob4yo/saftige-spareribs-kokt-i-coca-cola);   
    background-position: center;
    color: antiquewhite;
}

.pagMenu{
    background-color: rgba(0, 0, 0, 0.7);
    border: 3px rgba(167, 166, 163, 0.452) solid;
    border-radius: 15px;
    margin: 5px;
}

/* ACA ARRANCA CSS SUCURSALES */






/* ACA ARRANCA CSS DE MAURO */


.mainNosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

#crear-comentario{
    background-color: rgb(54, 52, 52);
    border-radius: 15px;
    border-style: double;
    color: aliceblue;
    width: 98%;
}

.casillas-comentarios{
    background-color: rgba(86, 21, 21, 0.8);
    border: 3px rgba(167, 166, 163, 0.452) solid;
    border-radius: 15px;
    color: antiquewhite;
    border-style: double;
    width: 98%;    
}

#lista-reseñas li{
    list-style: none;
}

.conteiner-1{
    background-color: rgb(48, 47, 47);
    margin: 5%;
    display: flex;
    justify-content: center;
    color: aliceblue;
    border-radius: 10%; 
}

.punto{
    display: inline;
    background-color: aliceblue;
}

.Carrusel{
    width: 2000px;
    height: auto;
    margin: 10px auto 10px;

    animation: slide 15s infinite ease-in-out;
}

.Carrusel ul{
    display:flex;
    padding: 0px;
    width: 400px;
}

.Carrusel li{
    list-style: none;
    width: 300px;
    margin-left: 400px;
}
.Carrusel img{
    width: 600px;
    height: 500px;
    border:15px;
    border-style: groove;
    border-color:rgb(33, 28, 28);
}

@keyframes slide{
    0%{margin-left: 0%;}
    35%{margin-left: 0%;}

    45%{margin-left: -100%;}
    65%{margin-left: -100%;}
    
    70%{margin-left: -150%;}
    100%{margin-left: -150%;}
}

@media (max-width: 600px) {
    .Carrusel { width: 500px;
        
    }
    .Carrusel img{
        width: 300px;
        height: auto;
    }
}
@media(min-width: 600px) {
    .Carrusel { width: 300px;
        
    }
    .Carrusel img{
        width: 300px;
        height: auto;
        }
 

}

@media (min-width: 760px){
    .Carrusel { width: 1000px;
        
    }
    .Carrusel img{
        width: 400px;
        height: auto;
        }
    
    

}





/*ACA ARRANCA EL CSS DE MARIA EMILIA*/

/*Estilos de las áreas*/

.mainContacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.form{
    display: flex;
    justify-content: center;
    background-color:black;
    height: auto;
    width: 94%;
    margin: 10px;
    color: white;
    font-weight: bold;
    background-color: rgba(86, 21, 21, 0.4);
    border: 3px rgba(167, 166, 163, 0.452) solid;
    border-radius: 15px;
}

.form>form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
}

.form>form>div{
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.datos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width:94%;
    margin: 10px;
    padding-bottom: 50px;
    background-color: rgba(86, 21, 21, 0.4);
    border: 3px rgba(167, 166, 163, 0.452) solid;
    border-radius: 15px;
    font-size: 100%;
    color: white;
    text-align: center;

}

.datos a{
    font-size: 25px;
    text-decoration: none;
    color: antiquewhite;
}


/*Estilos de texto, títulos, etc*/
.titulo{
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.subtitulo{
    font-size: 40px;
    margin: 30px;
}

.texto{
    text-align: center;
    font-size: 30px;
}

.button{
    display: flex;
    font-size: 18px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 8px;
}

.casillas{
    height: 40px;
    font-size: 25px;
    text-align: start;
    border-radius: 7px;
}

#mensaje{
    height: 120px;
}

/* ACA ARRANCA CSS SUCURSALES */

.mainSucursales h1{
    margin: 30px;
    text-align: center;
    font-size: 60px;
}

.mainSucursales section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    background-image: url(https://totale.es/wp-content/uploads/2022/02/donde-comer-pizza-en-madrid.jpg);
}

.ubicacion{
    background-color: rgba(0, 0, 0, 0.85);
    border: 3px rgba(167, 166, 163, 0.452) solid;
    border-radius: 15px;
    margin: 5px;
    text-align: center;
    vertical-align: auto;
}

.ubicacion>div{
    margin: auto;
}

.ubicacion h3{
    margin: 5px;
}
.ubicacion p{
    margin: 5px;
}

.map{
    height: 250px;
    width: 250px;
    border-radius: 15px;
}